body {
	min-width: 800px;
}

#content {
	background-color: white;
}

#bingoContentTool {
	/* Fixed width/height of content tool
	   If height changes, change line in contentTool.js
	   parent.postMessage(.......) */
	width: 800px;
	height: 674px;
	margin: auto;
}

input[type="text"] {
	color: #787e83;
	font-family: "Avenir LT Std", "Avenir Next", "Avenir", "Helvetica-Neue";
	font-size: 22px;
	font-weight: 500;
	line-height: 29px;
}

textArea {
	padding: 10px;
	box-sizing: border-box;
	color: #787e83;
	font-family: "Avenir LT Std", "Avenir Next", "Avenir", "Helvetica-Neue";
	font-size: 22px;
	font-weight: 500;
	line-height: 29px;
	resize: none;
	border: 1px solid #cdd3d7;
	border-radius: 2px;
}

/* HEADER STUFF */

#header {
	font-family: "Avenir LT Std", "Avenir Next", "Avenir", "Helvetica-Neue";
	font-size: 30px;
}

.headerText {
	font-size: 38px;
	font-weight: 500;
	line-height: 36px;
}

#headerImage {
	margin-right: 10px;
}

#settingImg {
	width: 30px;
	height: 30px;
}

#settingsButton {
	float: right;
	font-size: 20px;
	line-height: 20px;
	margin-top: 30px;
	margin-right: 0px;
}

#footer {
	background-color: #f8fafb;
	border: 1px solid #eaeef1;
	border-radius: 0 4px 4px 0;
	clear: left;
	width: 800px;
	height: 130px;
}

/* EDITOR STUFF */

.editor {
	float: left;
	background-color: #f8fafb;
	border: 1px solid #cdd3d7;
	border-radius: 2px;
	width: 292px;
	height: 390px;
	padding: 15px 21px 32px 21px;
	margin: 0px 24px 25px 0px;
}

.editorText {
	color: #5b6d79;
	font-family: "Avenir LT Std", "Avenir Next", "Avenir", "Helvetica-Neue";
	font-size: 24px;
	font-weight: 400;
	line-height: 25px;
	text-align: center;
	margin-top: 53px;
}

.questionBox {
	font-family: "Avenir LT Std", "Avenir Next", "Avenir", "Helvetica-Neue";
	color: #5b6d79;
	font-size: 22px;
	font-weight: 400;
	line-height: 22px;
}

.answerBox {
	font-family: "Avenir LT Std", "Avenir Next", "Avenir", "Helvetica-Neue";
	color: #5b6d79;
	font-size: 22px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 21px;
}

/* BINGO BOARD STUFF */

.bingoBoard {
	float: left;
	background-color: #f8fafb;
	border: 1px solid #cdd3d7;
	border-radius: 2px;
	width: 401px;
	height: 401px;
	padding: 18px;
	margin: 0px 0px 25px 0px;
}

.wildCardImage {
	padding-top: 15px;
}

.editorInput {
	width: 288px;
	height: 102px;
	margin-top: 10px;
	padding-left:0px;
	padding-top:0px;
	padding-bottom:0.4em;
	padding-right: 0.4em;l
}

/* Bingo cards */
.bingoCard {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 67px;
	height: 67px;
	word-break: break-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	text-align: center;
	/* vertically center text */
	display: table;
}

/* Bingo card that has a word on it but is not currently selected */
.bingoCardEntered {
	background-color: white;
	border: 1px solid #cdd3d7;
	border-radius: 2px;
	color: #787e83;
	font-family: "Avenir LT Std", "Avenir Next", "Avenir", "Helvetica-Neue";
	font-size: 16px;
	font-weight: 500;
}

/* Use this class to vertically center text if container has display: table*/
.centeredText {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.bingoCardEntered:hover {
	background-color: white;
	border: 1px solid #06aaff;
	border-radius: 2px;
}

/* Bingo card that has no word on it and is not currently selected */
.bingoCardEmpty {
	background-color: #eaeef1;
	border: 1px solid #cdd3d7;
	border-radius: 2px;
}

.bingoCardEmpty:hover {
	background-color: #eaeef1;
	border: 1px solid #06aaff;
	border-radius: 2px;
}

/* Bingo card that is currently selected, whether or not it has a word on it*/
.bingoCardSelected {
	background-color: white;
	border: 1px solid #06aaff;
	border-radius: 2px;
	color: black;
	font-family: "Avenir LT Std", "Avenir Next", "Avenir", "Helvetica-Neue";
	font-size: 16px;
	font-weight: 500;
}

/* Wild bingo card */
.bingoWildCard {
	background-color: white;
	border: 1px solid #cdd3d7;
	border-radius: 2px;
}

/* Buttons */
.button {
	width: 294px;
	height: 63px;
	color: white;
	font-family: "Avenir LT Std", "Avenir Next", "Avenir", "Helvetica-Neue";
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	border-radius: 2px;
	border: none;
	outline: none;
}

.blueButtonActive {
	background-color: #06AAFF;
}

.blueButtonActive:hover {
	background-color: #6CCDFF;
}

.blueButtonInactive {
	background-color: #CDD3D7;
}

.greenButtonActive {
	background-color: #5FD598;
}

.greenButtonActive:hover {
	background-color: #9DEBC3;
}

.greenButtonInactive {
	background-color: #9DEBC3;
}

.footerButton {
	margin-left: 10px;
	margin-right: 10px;
}

#editorButton {
	margin-top: 36px;
}

#footerButtons {
	float: right;
	margin-right: 10px;
	margin-top: 34px;
}
