#header {
	font-family: "Avenir LT Std";
	font-size: 38px;
	font-weight: 500;
	line-height: 46px;
}

#footer {
	background-color: #f8fafb;
	border: 1px solid #eaeef1;
	border-radius: 0 4px 4px 0;
	clear: left;
	width: 800px;
	height: 130px;
}

.contentTool {
	background-color: white;
}

.editor {
	float: left;
	background-color: #f8fafb;
	border: 1px solid #cdd3d7;
	border-radius: 2px;
	width: 292px;
	height: 390px;
	padding: 15px 21px 32px 21px;
	margin: 0px 24px 25px 0px;
}

.editorText {
	color: #5b6d79;
	font-family: "Avenir LT Std";
	font-size: 24px;
	font-weight: 400;
	line-height: 25px;
	text-align: center;
	margin-top: 53px;
}

.questionBox {
	font-family: "Avenir LT Std";
	color: #5b6d79;
	font-size: 22px;
	font-weight: 800;
	line-height: 22px;
}

.answerBox {
	font-family: "Avenir LT Std";
	color: #5b6d79;
	font-size: 22px;
	font-weight: 800;
	line-height: 22px;
	margin-top: 21px;
}

.doneButton {

}

.bingoBoard {
	float: left;
	background-color: #f8fafb;
	border: 1px solid #cdd3d7;
	border-radius: 2px;
	width: 401px;
	height: 401px;
	padding: 18px;
	margin: 0px 0px 25px 0px;
}

.wildCardImage {
	padding-top: 15px;
}

.editorInput {
	width: 288px;
	height: 102px;
	margin-top: 10px;
	padding-left:0px;
	padding-top:0px;
	padding-bottom:0.4em;
	padding-right: 0.4em;l
}

/* Bingo cards */
.bingoCard {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 67px;
	height: 67px;
}

/* Bingo card that has a word on it but is not currently selected */
.bingoCardEntered {
	background-color: white;
	border: 1px solid #cdd3d7;
	border-radius: 2px;
	color: #787e83;
	font-family: "Avenir LT Std";
	font-size: 16px;
	font-weight: 500;
	line-height: 67px;  /* same as bingoCard height*/
	text-align: center;
	vertical-align: middle;
}

.bingoCardEntered:hover {
	background-color: white;
	border: 1px solid #06aaff;
	border-radius: 2px;
}

/* Bingo card that has no word on it and is not currently selected */
.bingoCardEmpty {
	background-color: #eaeef1;
	border: 1px solid #cdd3d7;
	border-radius: 2px;
}

.bingoCardEmpty:hover {
	background-color: #eaeef1;
	border: 1px solid #06aaff;
	border-radius: 2px;
}

/* Bingo card that is currently selected, whether or not it has a word on it*/
.bingoCardSelected {
	background-color: white;
	border: 1px solid #06aaff;
	border-radius: 2px;
	color: black;
	font-family: "Avenir LT Std";
	font-size: 16px;
	font-weight: 500;
	line-height: 67px;  /* same as bingoCard height*/
	text-align: center;
	vertical-align: middle;
}

/* Wild bingo card */
.bingoWildCard {
	background-color: white;
	border: 1px solid #cdd3d7;
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
}

.bingoCardHover {

}

/* Buttons */
.button {
	width: 294px;
	height: 63px;
	color: white;
	font-family: "Avenir LT Std";
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	border-radius: 2px;
	border: none;
	outline: none;
}

.blueButtonActive {
	background-color: #00a8ff;
}

.blueButtonInactive {
	background-color: #bce9ff;
}

.greenButtonActive {
	background-color: #5fd598;
}

.footerButton {
	margin-left: 10px;
	margin-right: 10px;
}

#editorButton {
	margin-top: 36px;
}

#footerButtons {
	float: right;
	margin-right: 10px;
	margin-top: 34px;
}
