body {
	/*min-width: 2000px;*/
	background-color: #ededed;
}

/* Contains the left bar + bingo board */
.studentContent {
	/* Width of left bar + bingo board + margin between left bar and bingo board */
	width: 955px;
	/* Center this stuff */ 
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Header stuff */
.header {
	width: 100%;
	height: 97px;
	line-height: 97px;
	background-color: #06aaff;
	color: white;
	font-family: "Avenir Next";
	font-size: 41px;
	font-weight: 300;
	text-align: center;
	vertical-align: middle;
}

.howItWorks {
	width: 115px;
	height: 30px;
	background-color: white;
	border: 1px solid #00a8ff;
	border-radius: 4px;
	color: #06aaff;
	font-family: "Avenir LT Std";
	font-size: 11px;
	font-weight: 400;
	line-height: 30px;
	margin-top: 33px;
}

.leftBar {
	float: left;
	width: 292px;
	height: 500px;
	margin-right: 60px;
}

/* Question stuff */

.questionBox {
	height: 351px;
	width: 237px;
	padding: 10px 46px 20px 46px;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	font-family: "Avenir Next";
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
}

.questionCard {
	margin: auto; /*centers it*/
	width: 224px;
	height: 224px;
	background-color: rgba(6, 170, 255, 0.26);
	border: 2px solid #06aaff;
	border-radius: 8px;
	padding: 7px;
	display: table;
}

#questionCardId {
/* Vertically centers */
	display: flex;
  	justify-content: center;
 	flex-direction: column;
  	height: 224px;
}

#skipButton {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

#noQuestion {
	font-size: 31px;
	font-weight: 400;
	line-height: 43px;
	text-align: center;
/* Vertically centers in chrome */
	display: flex;
  	justify-content: center;
 	flex-direction: column;
  	height: 351px;
}


/* Bingo checker stuff */

.bingoChecker {
	width: 329px;
	height: 121px;
	padding-top: 43px;
	margin-top: 25px;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	font-family: "Avenir Next";
	font-size: 18px;
	font-weight: 400;
	line-height: 41px;
	text-align: center;
}

.textDisabled {
	color: #CDD3D7;
}

/* Bingo board stuff */
.bingoBoard {
	float: left;
	width: 560px;
	height: 560px;
	background-color: rgba(6, 170, 255, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	margin-left: 30px;
	padding: 5px;
}

/* Bingo card stuff */
.bingoCard {
	position: relative;
	float: left;
	margin: 5px;
	width: 98px;
	height: 98px;
	word-wrap: break-word;
	background-color: white;
	border: 2px solid #06aaff;
	border-radius: 8px;
	color: #181818;
	font-family: "Avenir Next";
	font-size: 15px;
	font-weight: 200;
	line-height: 20px;
	text-align: center;
	/* Vertically centers in Chrome */
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 98px;
	/* Vertically centers in Safari */
	display: table;
}

.bingoChipCard {
	background-image: url("../assets/bingoChip.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.bingoCardIncorrect {
	z-index: 999;
}

.bingoChip {
	width: 70px;
	height: 70px;
	margin-left: 14px; /* (Bingo card width - image width) / 2*/
}

/* Buttons */
.button {
	width: 238px;
	height: 55px;
	line-height: 55px;
	border-radius: 2px;
	border: none;
	outline: none;
	text-align: center;
	font-family: "Avenir LT Std";
	font-size: 25px;
	font-weight: 200;
}

.outlineButton {
	background-color: white;
	border: 1px solid #00a8ff;
	border-radius: 4px;
	color: #06aaff;
}

.blueButtonShadow {
	color: white;
	background-color: #06aaff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	display: inline-block;
}

.blueButton {
	color: white;
	background-color: #06aaff;
	border-radius: 4px;
}

.grayButtonInactive {
	color: white;
	background-color: #cdd3d7;
	border-radius: 4px;
	display: inline-block;
}

.blueButtonInactive {
	background-color: #bce9ff;
}

/* MODAL STUFF */
.wrapper {
	min-height:100%; 
	position:relative;
}

.modalBg {
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(86, 86, 86, .65);
	width: 100%;
	height: 100%;
}

.modal {
	position: absolute;
	width: 445px;
	height: 321px;
	background-image: linear-gradient(180deg, white 0%, #f8fafb 100%);
	border: 1px solid #ebeff2;
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(168, 168, 168, 0.5);
	/* Center on screen */
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -176px;
    margin-left: -262px;
    padding-top: 31px;
    padding-left: 40px;
    padding-right: 40px;
    /* Font */
    text-align: center;
    color: #454545;
	font-family: "Avenir Next";
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

/* Container that contains question & answer in modal */
#questionAnswerContainer {
	height: 150px; /* Same as question & answer*/
	width: 346px; /* (2*width of question/answer) + margin between question & answer */
	/* Center it in modal box */
	position: relative;
	left: 50%;
	margin-left: -173px; /* 1/2 width */
	margin-top: 20px; /* Between boxes & header */
}

#questionOnlyContainer {
	height: 150px; /* Same as question & answer*/
	width: 140px; /* Width of question */
	/* Center it in modal box */
	position: relative;
	left: 50%;
	margin-left: -70px; /* 1/2 width */
	margin-top: 20px; /* Between boxes & header */
}

.questionSmall {
	/* Look */
	width: 140px;
	height: 140px;
	background-color: rgba(6, 170, 255, 0.3);
	border: 1px solid #06aaff;
	border-radius: 5px;
	text-align: left;
	/* Position */
	float: left;
	padding: 5px;
	/* Font */
	word-wrap: break-word;
	color: black;
	font-family: "Avenir LT Std";
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	/* Vertically centers in Chrome */
  	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	/* Vertically centers in Safari */
  	display: table;
}

.answerSmall {
	/* Look */
	background-color: white;
	width: 140px;
	height: 140px;
	border: 1px solid #06aaff;
	border-radius: 5px;
	/* Position */
	float: right;
	padding: 5px;
	/* Vertically centers */
  	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	 /* Vertically centers in Safari */
  	display: table;
}

.modalFooter {
	background-color: white;
	background-color: white;
	border: 1px solid #ebeff2;	
	width: 525px; /* Same as modal */
	height: 100px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/* position */
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -263px;
	margin-top: 75px;
}

.modalButton {
	width: 206px;
	height: 42px;
	/* Font */
	font-family: "Avenir Next";
	font-size: 16px;
	font-weight: 400;
	line-height: 42px;
	/* Vertically centers */
  	display: flex;
  	justify-content: center;
  	flex-direction: column;
}

/* Are you sure you want to check bingo? */
.modalSubheader {
	font-family: "Avenir Next";
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
}

.modalHeader {
	font-family: "Avenir Next";
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
}

#modalConfirmation {
	margin-top: 35px;
	margin-bottom: 20px;
}

/* Wrap around two buttons in footer of modal to center them */
#twoButtonContainer {
	height: 100px; /* Same as modal button*/
	width: 430px; /* (2*width of question/answer) + margin between question & answer */
	/* Center it in modal box */
	position: relative;
	left: 50%;
	margin-left: -215px; /* 1/2 width */
	margin-top: 25px; /* Between boxes & header */
}

/* Wrap around two buttons in footer of modal to center them */
#singleButtonContainer {
	height: 100px; /* Same as modal button*/
	width: 206px; /* Same as modal button */
	/* Center it in modal box */
	position: relative;
	left: 50%;
	margin-left: -103px; /* 1/2 width */
	margin-top: 25px; /* Between boxes & header */
}

#leftModalButton {
	float: left;
}

#rightModalButton {
	float: right;
}

/* Incorrect modal stuff */
.incorrectModal {
	position: absolute;
	width: 95px;
	height: 105px;
	border: 2px solid #06aaff;
	border: 1px solid #b8c0c6;
	background-color: #eee;
	box-shadow: 0 3px 5px #cdd3d7;
	/* Position */
	position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    /* Font */
    text-align: center;
    color: #454545;
	font-family: "Avenir Next";
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}
.incorrectCard {
	position: absolute;
	width: 95px;
	height: 95px;
	border: 2px solid #06aaff;
	border-radius: 8px;
	background-color: white;
	/* Position */
	position: absolute;
    margin-top: 140px;
    margin-left: 10px;
    padding: 5px;
    /* Font */
    text-align: center;
    color: #454545;
	font-family: "Avenir Next";
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

/* RANDOM */

/* Use this class to vertically center text if container has display: table*/
.verticallyCenteredText {
	display: table-cell;
	vertical-align: middle;
}