body {
	background-color: #ededed;
}

.teacherContent {
	/* Width of current questions + past questions + margin between them */
	width: 944px;
	height: 654px;
	/* Center this stuff */ 
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.currentQuestion {
	float: left;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	width: 551px;
	height: 650px;
	/* 1/2 Margin between current question & past questions */
	margin-right: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

.pastQuestions {
	float: left;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	width: 283px;
	height: 650px;
	/* 1/2 Margin between current question & past questions */
	margin-left: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

h1 {
	/* Font */
	font-family: "Avenir LT Std";
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
}

/* 
 * CURRENT QUESTION STUFF
 * ----------------------- 
 */

 /* Question + answer stuff  */
.questionAnswer {
	float: left;
	width: 265px;
	height: 115px;
	margin-top: 30px
}

.question {
	float: left;
	background-color: white;
	border: 2px solid #06aaff;
	border-radius: 8px;
	width: 105px;
	height: 105px;
	padding: 5px;
	margin-right: 27px;
	/* Font */
	color: black;
	font-family: "Avenir Next";
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	/* Centering */
	/* Vertically centers in Safari */
  	display: table;
  	/* Vertically centers in Chrome */
	display: flex;
  	justify-content: center;
  	flex-direction: column;
}

.answer {
	float: left;
	background-color: rgba(6, 170, 255, 0.27);
	border: 2px solid #06aaff;
	border-radius: 8px;
	width: 95px;
	height: 95px;
	padding: 10px;
	/* Font */
	color: black;
	font-family: "Avenir Next";
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	/* Center */
	text-align: center;
	/* Vertically centers in Safari */
  	display: table;
	/* Vertically centers in Chrome */
  	display: flex;
  	justify-content: center;
  	flex-direction: column;

  }

/* Graph stuff */
.graph {
	float: left;
	height: 119px; /* Same as question/answer */
	margin-top: 30px;
}

.graphVisual {
	float: left;
	width: 103px;
	margin-right: 11px;
}

.graphStats {
	float: left;
	/* Font */
	font-family: "Avenir Next";
	font-size: 11px;
	font-weight: 400;
	line-height: 11px;
	margin-top: 22px;
}

.statsTable {
	border-spacing: 0 5px;
}

#nextQuestion {
	clear: both;
	margin-top: 175px; /* Height of cards (115) + actual margin desired (30)*/
	margin-bottom: 30px;
}

/* CURRENT QUESTION ANSWER
 * ----------------------- 
 */
table.simpleTable {
	border-collapse: collapse;
	width: 100%;
	color: #161e21;
	font-family: "Avenir LT Std";
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
}

th.tableHeader {
	border-bottom: 2px solid #06aaff;
}

/* Column with student names */
.studentName {
	width: 25%;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #aeaeae;
}

/* Column with student answers */
.tableAnswer {
	text-align: center;
	width: 30%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #aeaeae;
}

/* Empty column */
.emptyColumn {
	border-bottom: 1px solid #aeaeae;
}

/* PAST QUESTION STUFF
 * ----------------------- 
 */

.studentNamePast {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #aeaeae;
	width: 65%;
}

.fractionScore {
	width: 20%;
	text-align: center;
	border-bottom: 1px solid #aeaeae;
}

.percentageScore {
	width: 15%;
	text-align: center;
	border-bottom: 1px solid #aeaeae;
}

.correctAnswer {
	color: #5fd598;
}

.incorrectAnswer {
	color: #f26c59;
}

.unanswered {
	color: #aeaeae;
}

/* Buttons */
.blueButton {
	width: 256px;
	height: 44px;
	background-color: #06aaff;
	border-radius: 6px;
	/* Font */
	font-family: "Avenir LT Std";
	font-size: 20px;
	font-weight: 200;
	line-height: 44px; /* Same as height of button */
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.blueButton:hover {
	background-color: #6CCDFF;
}

.inactiveButton {
	width: 256px;
	height: 44px;
	background-color: #CDD3D7;
	border-radius: 6px;
	/* Font */
	font-family: "Avenir LT Std";
	font-size: 20px;
	font-weight: 200;
	line-height: 44px; /* Same as height of button */
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.outlineButton {
	width: 238px;
	height: 38px;
	background-color: white;
	border: 1px solid #00a8ff;
	border-radius: 3px;
	margin-top: 20px;
	/* Font */
	text-align: center;
	color: #06aaff;
	font-family: "Avenir LT Std";
	font-size: 20px;
	font-weight: 400;
	line-height: 38px;
	/* Horizontally center */
	margin-left: auto;
	margin-right: auto;
}

.outlineButton:hover {
	border: 2px solid #00a8ff;
}

/* Use this class to vertically center text if container has display: table*/
.verticallyCenteredText {
	display: table-cell;
	vertical-align: middle;
}